<div class="container">
    <div class="row">
        <div class="table">
            <thead>
                <tr>
                    <th>id</th>
                    <th>Cantidad de productos</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let fact of facturas">
                    <td class="item">{{fact.id}}</td>
                    <td class="item">{{fact.pedido.length}}</td>
                    <td class="item">{{fact.total}}</td>
                    <button class="btn" type="button" (click)="elegir(fact)">Ver detalles</button>
                </tr>
            </tbody>
        </div>
    </div>
    <button type="button" class="buttonC" (click)="perfil()">Volver</button>
</div>
