<div class="formContainer">
    <form>
        <div class="formgroup">
            <label for="Nombre-Dulce">Nombre</label>
            <input [(ngModel)]="dulce.nombre" name="nombre" type="text" class="form-control" id="Nombre-Dulce" placeholder="Ingrese aca el nombre del dulce" >
        </div>
        <div class="formgroup">
            <label for="Cantidad-dulces">Cantidad o Disponibilidad en inventario</label>
            <input [(ngModel)]="dulce.cantidad"  name="cantidad" type="number" class="form-control" id="CantidadDulce" placeholder="Ingrese aca la disponibilidad del dulce" [(ngModel)]="dulce.cantidad">
        </div>
        <div class="formgroup">
            <label for="CostoDulce">Costo</label>
            <input [(ngModel)]="dulce.costo" name="cosoto" type="number" class="form-control" id="CostoDulce" placeholder="Ingrese aca el costo del dulce">
        </div>
        <div class="formgroup">
            <label for="Categoria-Dulce">Categoria</label>
            <select [(ngModel)]="dulce.tipo"  name="tipo" class="form-control" id="Categoria-Dulce" >
                <option class="option">Bombones</option>
                <option class="option">Chocolate</option>
                <option class="option">Gomitas</option>
                <option class="option">Chicles</option>
                <option class="option">Importados</option>
                <option class="option">Galleta</option>
            </select>
        </div>
        <div class="buttonsDiv">
            <button type="submit" class="buttonS" (click)="registrar()">Registrar</button>
            <button type="button" class="buttonC" (click)="cancelar()">Cancelar</button>
        </div>
    </form>
</div>