<div class="principal">
    <div class="login-wrap">
        <div class="login-html">
            <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Iniciar sesion</label>
            <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Registrarse</label>
            <div class="login-form">
                <div class="sign-in-htm">
                    <div class="group">
                        <label for="user" class="label" name="nombre">Correo Electronico</label>
                        <input id="userI" type="text" class="input" [(ngModel)]="Cliente.email" name="correo" >
                    </div>
                    <div class="group">
                        <label for="pass" class="label">Contraseña</label>
                        <input id="passI" type="password" class="input" data-type="password" [(ngModel)]="Cliente.contrasenna" name="contra">
                    </div>
                    <div class="hr"></div>
                    <div class="group">
                        <input type="submit" class="button" value="Sign In" (click)="buscar(Cliente.email,Cliente.contrasenna)">
                    </div>             
                </div>
    
    
                <div class="sign-up-htm">
                    <div class="group">
                        <label for="user" class="label">Nombre de usuario</label>
                        <input id="userU" type="text" class="input"  [(ngModel)]="Cliente.nombre" name="nombre">
                    </div>
                    <div class="group">
                        <label for="pass" class="label">Contraseña</label>
                        <input id="passU" type="password" class="input" data-type="password"  [(ngModel)]="Cliente.contrasenna" name="contra">
                    </div>
                    <div class="group">
                        <label for="mail" class="label">Correo electronico</label>
                        <input id="mailU" type="text" class="input"  [(ngModel)]="Cliente.email" name="email">
                    </div>
                    <div class="hr"></div>
                    <div class="group">
                        <input type="submit" class="button" value="Sign Up" (click)="registrar(Cliente)">
                    </div>      
                    <div class="foot-lnk">
                        <label for="tab-1">Ya esta registrado?</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>