<div class="container">
    <div class="row">
        <div class="table">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Tipo</th>
                    <th>Costo</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let dulce of factura.pedido" >
                    <td> {{dulce.cosa.nombre}}</td>
                    <td> {{dulce.cosa.tipo}}</td>
                    <td> {{dulce.cosa.costo}}</td>
                </tr>
            </tbody>
        </div>
        <h2>Total: {{factura.total}}</h2>
    </div>
    <button class="buttonC" type="button" value="Detalles" (click)="volver()">Volver</button>
</div>

